.wrapper {
  display: flex;
  flex-direction: column;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.input {
  composes: input from '../../styles/Form.css';
}

.button {
  composes: input button from '../../styles/Form.css';
}
