.wrapper {
  display: flex;
  flex-direction: column;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.toggler {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-180deg) translateX(-8px) translateY(-50px);
  writing-mode: vertical-rl;
}

.logout {
  background: transparent;
  border: 2px solid;
  cursor: pointer;
  position: absolute;
  bottom: 2.5vh;
  right: 7.5vw;

  &:hover {
    color: #EF5B5B;
  }
}
