.form {
  width: 100%;
}

.input, .button {
  border: 2px solid;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 0.5em;

  & + & { margin-top: 1em; }
}

.input {
  width: 100%;
}

.button {
  background: black;
  color: white;
  cursor: pointer;
  margin: 0 0 0 auto;
  width: 50%;

  &:hover {
    background: #02bd88;
  }
}

.checkbox {
  .label {
    display: inline-block;
    vertical-align: middle;
  }

  .switch {
    border: 2px solid;
    display: inline-block;
    width: 1em;
    margin-top: 0.5em;
    position: relative;
    vertical-align: middle;
    height: 1em;

    &:before {
      background: #EF5B5B;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      right: 0;
      left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  input {
    display: none;

    &:checked {
      + .switch {
        &:before {
          background: #02bd88;
        }
      }
    }
  }
}
