:global {
  *,
  *:before {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 768px;
  width: 85vw;
}

.narrow {
  max-width: 350px;
  width: 100%;
}

.flex {
  align-items: center;
  display: flex;

  &Child {
    width: 100%;

    &Half {
      flex-basis: 50%;
    }

    &1of3 {
      flex-basis: 33.33%;
    }
  }
}

.centered {
  justify-content: center;
  min-height: 100vh;
}
