.narrow {
  max-width: 350px;
  width: 100%;
}

.flex {
  align-items: center;
  display: flex;

  &Child {
    width: 100%;

    &Half {
      flex-basis: 50%;
    }

    &1of3 {
      flex-basis: 33.33%;
    }

    &2of3 {
      flex-basis: 66.66%;
    }
  }
}

.centered {
  justify-content: center;
  min-height: 100vh;
}

.footer {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  height: 10vh;
  padding: 0 1em;
}
