.table {
  &Row {
    border-bottom: 1px solid #ccc;
    height: 4em;
  }

  &Cell {
    padding: 0 1em;
  }
}

.scroller {
  border-bottom: 2px solid;
  height: calc(90vh - 52px);
  overflow: scroll;

  &Child {
    flex: 0 0 auto;
  }
}
