.logout {
  composes: button from '../../styles/Form.css';
  background: transparent;
  border: 2px solid;
  color: black;
  width: auto;

  &:hover {
    background: transparent;
    color: #EF5B5B;
  }
}
