.toggler {
  align-items: center;
  display: flex;
  margin-right: 0.5em;

  .switch {
    border: 2px solid;
    display: block;
    height: 1em;
    margin-right: 0.5em;
    order: -1;
    position: relative;
    width: 1em;

    &:before {
      background: #EF5B5B;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      right: 0;
      left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  input {
    display: none;

    &:checked {
      + .switch {
        &:before {
          background: #02bd88;
        }
      }
    }
  }
}
